body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1136px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:529px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:529px;
}
#u1 {
  position:absolute;
  left:2px;
  top:256px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:81px;
}
#u2 {
  position:absolute;
  left:107px;
  top:2px;
  width:124px;
  height:81px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:58px;
  background:inherit;
  background-color:rgba(176, 192, 199, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:153px;
  top:163px;
  width:518px;
  height:58px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:514px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:496px;
}
#u6 {
  position:absolute;
  left:0px;
  top:525px;
  width:1343px;
  height:496px;
  font-size:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:240px;
  width:1339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  background:inherit;
  background-color:rgba(155, 171, 184, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#88979E;
}
#u8 {
  position:absolute;
  left:1042px;
  top:28px;
  width:122px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#88979E;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#666666;
}
#u10 {
  position:absolute;
  left:309px;
  top:688px;
  width:110px;
  height:33px;
  font-size:22px;
  color:#666666;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:22px;
  color:#666666;
}
#u12 {
  position:absolute;
  left:518px;
  top:690px;
  width:110px;
  height:33px;
  font-size:22px;
  color:#666666;
}
#u13 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u14 {
  position:absolute;
  left:724px;
  top:688px;
  width:110px;
  height:33px;
  font-size:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:156px;
}
#u16 {
  position:absolute;
  left:703px;
  top:583px;
  width:351px;
  height:156px;
}
#u17 {
  position:absolute;
  left:2px;
  top:70px;
  width:347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:787px;
}
#u18 {
  position:absolute;
  left:9px;
  top:804px;
  width:1342px;
  height:787px;
}
#u19 {
  position:absolute;
  left:2px;
  top:386px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:233px;
}
#u20 {
  position:absolute;
  left:-215px;
  top:1594px;
  width:1343px;
  height:233px;
}
#u21 {
  position:absolute;
  left:2px;
  top:108px;
  width:1339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:41px;
}
#u22 {
  position:absolute;
  left:860px;
  top:20px;
  width:76px;
  height:41px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
}
#u24 {
  position:absolute;
  left:937px;
  top:20px;
  width:105px;
  height:37px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:33px;
}
#u26 {
  position:absolute;
  left:1052px;
  top:24px;
  width:110px;
  height:33px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:39px;
}
#u28 {
  position:absolute;
  left:1171px;
  top:22px;
  width:94px;
  height:39px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:308px;
}
#u30 {
  position:absolute;
  left:9px;
  top:221px;
  width:677px;
  height:308px;
}
#u31 {
  position:absolute;
  left:2px;
  top:146px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
