body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:129px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:1351px;
  height:129px;
}
#u61 {
  position:absolute;
  left:2px;
  top:56px;
  width:1347px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:81px;
}
#u62 {
  position:absolute;
  left:103px;
  top:2px;
  width:124px;
  height:81px;
}
#u63 {
  position:absolute;
  left:2px;
  top:32px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u64 {
  position:absolute;
  left:3px;
  top:93px;
  width:310px;
  height:36px;
  font-size:16px;
}
#u65 {
  position:absolute;
  left:2px;
  top:8px;
  width:306px;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u66 {
  position:absolute;
  left:1043px;
  top:28px;
  width:119px;
  height:25px;
  font-size:18px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:115px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:300px;
}
#u68 {
  position:absolute;
  left:5px;
  top:129px;
  width:1341px;
  height:300px;
}
#u69 {
  position:absolute;
  left:2px;
  top:142px;
  width:1337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:292px;
}
#u70 {
  position:absolute;
  left:7px;
  top:449px;
  width:592px;
  height:292px;
}
#u71 {
  position:absolute;
  left:2px;
  top:138px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:288px;
}
#u72 {
  position:absolute;
  left:7px;
  top:762px;
  width:600px;
  height:288px;
}
#u73 {
  position:absolute;
  left:2px;
  top:136px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:287px;
}
#u74 {
  position:absolute;
  left:12px;
  top:1060px;
  width:595px;
  height:287px;
}
#u75 {
  position:absolute;
  left:2px;
  top:136px;
  width:591px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u76 {
  position:absolute;
  left:1044px;
  top:30px;
  width:113px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
}
#u78 {
  position:absolute;
  left:854px;
  top:19px;
  width:74px;
  height:40px;
}
#u79 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u80 {
  position:absolute;
  left:936px;
  top:22px;
  width:106px;
  height:36px;
}
#u81 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u82 {
  position:absolute;
  left:1167px;
  top:20px;
  width:100px;
  height:40px;
}
#u83 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
