body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1345px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:135px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:1345px;
  height:135px;
}
#u33 {
  position:absolute;
  left:2px;
  top:60px;
  width:1341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#999999;
}
#u34 {
  position:absolute;
  left:1044px;
  top:35px;
  width:113px;
  height:25px;
  font-size:18px;
  color:#999999;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1110px;
  height:360px;
}
#u36 {
  position:absolute;
  left:99px;
  top:145px;
  width:1110px;
  height:360px;
}
#u37 {
  position:absolute;
  left:2px;
  top:172px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:107px;
  top:102px;
  width:74px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:2px;
  top:4px;
  width:70px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:81px;
}
#u40 {
  position:absolute;
  left:107px;
  top:2px;
  width:124px;
  height:81px;
}
#u41 {
  position:absolute;
  left:2px;
  top:32px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:214px;
  top:102px;
  width:69px;
  height:25px;
}
#u43 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:34px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:496px;
  top:93px;
  width:372px;
  height:34px;
}
#u45 {
  position:absolute;
  left:2px;
  top:9px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:353px;
}
#u46 {
  position:absolute;
  left:99px;
  top:505px;
  width:1097px;
  height:353px;
}
#u47 {
  position:absolute;
  left:2px;
  top:168px;
  width:1093px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  position:absolute;
  left:313px;
  top:102px;
  width:69px;
  height:25px;
}
#u49 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:407px;
  top:102px;
  width:69px;
  height:25px;
}
#u51 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:233px;
}
#u52 {
  position:absolute;
  left:0px;
  top:928px;
  width:1343px;
  height:233px;
}
#u53 {
  position:absolute;
  left:2px;
  top:108px;
  width:1339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:40px;
}
#u54 {
  position:absolute;
  left:854px;
  top:24px;
  width:74px;
  height:40px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u56 {
  position:absolute;
  left:936px;
  top:27px;
  width:106px;
  height:36px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u58 {
  position:absolute;
  left:1167px;
  top:25px;
  width:100px;
  height:40px;
}
#u59 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
